.row {
        height: 100%;
        margin: 0px;
}
.panel-heading {
	padding: 0px 10px;
}
.progress {
	margin-bottom: 5px !important;
}
tr > th {
    padding-left: 8px !important;
}
tfoot {
	display: none;
}
hr {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}
br {
	margin-bottom: 5px;
}
#header {
        top:0;
        width:100%;
        height:50px;
        font-size: 32px;
        color: white;
        background-color: #0059a9;
        z-index: 1000;
        text-align: center;
}

#footer {
	bottom:0;
	width:100%;
	height:20px;
	color: white;
	background-color: #0059a9;
	z-index: 1000;
	text-align: center;
}
.shiny-notification {
        width: 200px;
        position: fixed;
        top: calc(50%);
        left: calc(50%);
}

