.row {
        height: 100%;
        margin: 0px;
}
.panel-heading {
	padding: 0px 10px;
}
.progress {
	margin-bottom: 5px !important;
}
tr > th {
    padding-left: 8px !important;
}
tfoot {
	display: none;
}
hr {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}
br {
	margin-bottom: 5px;
}